.con1{
    background-image: conic-gradient(red, green, blue);
}
.con2{
    background-image: repeating-conic-gradient(orange 10%, purple 20%);
}
.con3{
    background-image: conic-gradient(pink 90deg, aqua 60deg, maroon 260deg);
}
.con4{
    background-image: repeating-conic-gradient(silver 10deg, gold 10deg,blue 20deg, tomato 20deg);
}
.con5{
    background-image: conic-gradient(yellow, aquamarine, blue, maroon);
}
.con6{
    background-image: conic-gradient(red, yellow, blue, silver, orange, green);
}
.con7{
    background-image: conic-gradient(black, red, green, gold, blue);
}
.con8{
    background-image: conic-gradient(silver, red, aquamarine, blue, orangered);
}