* {
  margin: 0%;
}

body {
  background: url(london2.avif) no-repeat center center fixed;
  background-size: cover;
}

.header {
  height: 50px;
  width: 100%;
  border: 2px solid black;
  text-align: center;
  line-height: 50px;
  background-color: mediumvioletred;
}

.footer {
  clear: both;
  height: 50px;
  width: 100%;
  border: 2px solid black;
  text-align: center;
  background-color: coral;
}

.container {
  border: 2px solid black;
  width: 99%;
  height: 600px;
  margin: 5px;
  background: url(london2.avif) no-repeat center center fixed;
  background-size: cover;
}
.Userd {
  width: 200px;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
  top: 50px;
  background-color: blue;
}
.userDetails {
  width: 95%;
  height: 120px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  margin-top: 20px;
  padding-top: 45px;
}
.address {
  padding-top: 5px;
  list-style: none;
  float: right;
  position: absolute;
  top: 90px;
  right: 300px;
}
.education {
  width: 200px;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
  top: 257px;
  background-color: blue;
}
.Edetails {
  width: 95%;
  height: 120px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  padding-top: 45px;
}
.qualification{
  position: absolute;
  top: 310px;
  right: 460px;
}
.about{
  width: 200px;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
  top: 465px;
  background-color: blue;
}

.AboutUrs{
  width: 95%;
  height: 120px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  padding-top: 45px;
}
.btn{
  position: absolute;
  top: 645px;
  right: 125px;
}

.li {
  list-style: none;
  margin-left: 5px;
  margin-bottom: 10px;
}
.a {
  margin-left: 50px;
}
.b {
  margin-left: 60px;
}
.c {
  margin-left: 45px;
}
.d {
  margin-left: 45px;
}
.e{
  margin-left: 82px;
}
.f{
  margin-left: 30px;
}
.l{
  margin-top: 20px;
}