.heading {
  text-align: center;
  border: 1px solid;
  margin: 30px 400px;
  padding: 10px;
  background-color: lightskyblue;
}
ul {
  width: 500px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(143, 219, 219);
}
li {
  list-style: none;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: rgb(158, 158, 213);
}
.pwdview {
  cursor: pointer;
  position: relative;
  top: 5px;
  left: -24px;
}

.confpwdview {
  cursor: pointer;
  position: relative;
  top: 5px;
  left: -24px;
}
#eyeopen {
  display: none;
}

#eyeopen2 {
  display: none;
}
.pwdErr,
.aciderror {
  color: red;
  font-size: 14px;
  margin: 5px;
}
.aciderror {
  display: none;
}
.pwdvalid {
  color: green;
  font-size: 14px;
  margin: 5px;
}
