.parent {
    border: 1px solid black;
    margin: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 50px;
}
.child {

    align-items: center;
    border: 1px solid black;
    margin: auto auto;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 80px;
}