ul {
    border: 1px solid;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(191, 247, 247);
}
li {
    list-style: none;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}
.title {
    text-align: center;
    color: orange;
    font-size: 20px;
}
.error {
    color: red;
    font-size: 10px;
    margin: 5px;
    display: none;
}
.successmsg {
    display: none;
    font-size: 20px;
    color: green;
    text-align: center;
}