h3 {
    text-align: center;
    color: green;
    margin: 10px;
}

.taskContainer {
    border: 1px solid orangered;
    text-align: center;
    margin: 30px auto;
    padding: 30px;
    color: brown;
    width: 500px;
}

#thanksBlock {
    display: none;
    position: absolute;
    bottom: 10%;
    left: 30%;
    background-color: yellow;
    color: black;
}