.brand-title{
font-size: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: red;
font-weight: bold;

}
.header{
    display: flex;
    justify-content:space-between;
    padding : 10px;
    margin-left: 150px;
}
.lang{
    background: rgba(22,22,22,0.7);
    color: white;
    
}
.lan{
    margin-right: 180px;
}