body{
    background-color: bisque;
}
input {
    width: 500px;
    height: 48px;
    border-radius: 8px;

}

.container {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    top: 25px;
    right: 522px;
}

button:hover {
    cursor: pointer;
    background-color: #fff;
    color: green;
}

::placeholder {
    color: rgb(173, 23, 23);
    font-weight: bold;
}

input[type="text"] {
    font-size: 20px;
}
.filterList{
    width: 490px;
    height: 40px;
    margin-left: 508px;
    /* margin-top: 5px; */
    /* border: 1px solid; */
    /* background-color: white; */
}
.filterList div{
    border-bottom: 1.5px solid #ccc !important;
    padding: 10px;
    border: 1px solid;
    background-color: white;

}
.filterList div:hover{
    background-color: #e7dfdf;
    cursor: pointer;
}
